/* Custom colours */
$white: #ffffff;
$nature-orange: #ea5200;
$nature-orange-dark: #cc4b05;

$nature-green: #314023;

$brown-light: #dfd4b9;
$brown-lighter: #f7f4ee;
$brown-lightest: #f9f8f7;

$black-almost: #212529;

/* Variable overrides */

// Colours
$body-bg: $brown-lightest;
$body-color: $black-almost;

$primary: $nature-orange-dark;
$secondary: $nature-green;
$light: $brown-lighter;
$light-bg-subtle: $brown-lightest;

$border-color: $brown-light;
$table-striped-bg: $brown-lighter;
$input-bg: $white;
$card-bg: $white;
$table-bg: $white;

// Fonts
$font-family-base:
  var(--font-inter),
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
$headings-font-family: var(--font-archivo), $font-family-base;

$headings-font-weight: 600;
$table-th-font-weight: 600;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 1.6;
$h2-font-size: $font-size-base * 1.4;
$h3-font-size: $font-size-base * 1.2;
$h4-font-size: $font-size-base;

// Sizing
$input-btn-padding-y: 0.3rem;
$input-btn-padding-x: 0.6rem;
$input-btn-font-size: 0.9rem;

// Other
$card-border-radius: 0;

/* Bootstrap */
@import "bootstrap";

/* Bootstrap Icons */
@import "bootstrap-icons";

/* Custom SCSS */

// Navbar
.footer-brand,
.navbar-brand {
  font-family: $headings-font-family;
  font-weight: 600;
}

// Bootstrap Icons
.bi {
  width: 1em;
}

// Map
.map {
  height: 640px;
}
